<p-table
  [value]="skillList"
  [scrollable]="true"
  styleClass="p-datatable-gridlines"
>
  <ng-template pTemplate="caption"> Skills </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="flex-basis: 35%; padding: 16px">Name</th>
      <th style="flex-basis: 35%; padding: 16px">Years of experience</th>
      <th style="flex-basis: 30%; padding: 16px">Level</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-skill>
    <tr>
      <td style="flex-basis: 35%; padding: 16px">{{ skill.name }}</td>
      <td style="flex-basis: 35%; padding: 16px">
        {{ getYearsOfExperience(skill.learneYear) + "+" }}
      </td>
      <td style="flex-basis: 30%; padding: 16px">
        <p-progressBar
          mode="determinate"
          [showValue]="false"
          [value]="skill.rate * 10"
        ></p-progressBar>
      </td>
    </tr>
  </ng-template>
</p-table>
