<ion-content class="ion-padding">
  <!-- <p-dock [model]="dockItems" position="left">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.icon" [alt]="item.label" width="100%" />
    </ng-template>
  </p-dock> -->

  <div id="container">
    <div>
      <app-profile-img></app-profile-img>
    </div>

    <div>
      <strong>Hélio Souza</strong>
      <p>
        Follow me on
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Helioty"
        >
          Github
        </a>
      </p>
      <p>
        Contact me on
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/helioty/"
        >
          LinkedIn
        </a>
      </p>
    </div>

    <div>
      <div id="sobre">
        <app-sobre></app-sobre>
      </div>
    </div>
  </div>
</ion-content>
