<ion-content>
  <div class="bkg"></div>

  <div id="container" class="ion-padding">
    <div>
      <app-profile-img></app-profile-img>
    </div>

    <div>
      <strong>Hélio Souza</strong>
      <br />
      <strong>Fullstack Developer</strong>
      <br />
      <p>
        Follow me on
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Helioty"
        >
          Github
        </a>
      </p>
      <p>
        Contact me on
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/helioty/"
        >
          LinkedIn
        </a>
      </p>
    </div>

    <div>
      <div id="sobre">
        <app-sobre></app-sobre>
      </div>
    </div>
  </div>
</ion-content>
