<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <div>
      <app-profile-img></app-profile-img>
    </div>

    <strong>Hélio Souza</strong>
    <p>
      Follow me on
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/Helioty"
      >
        Github
      </a>
    </p>

    <div>
      <div id="sobre">
        <app-sobre></app-sobre>
      </div>
    </div>
  </div>
</ion-content>
