<p-table
  [value]="skillList"
  [scrollable]="true"
  styleClass="p-datatable-gridlines"
>
  <ng-template pTemplate="caption"> Skills </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="flex-basis: 35%">Name</th>
      <th style="flex-basis: 35%">Years of experience</th>
      <th style="flex-basis: 30%">Level</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-skill>
    <tr>
      <td style="flex-basis: 35%">{{ skill.name }}</td>
      <td style="flex-basis: 35%">
        {{ getYearsOfExperience(skill.learneYear) + "+" }}
      </td>
      <td style="flex-basis: 30%">
        <p-progressBar
          mode="determinate"
          [showValue]="false"
          [value]="skill.rate * 10"
        ></p-progressBar>
      </td>
    </tr>
  </ng-template>
</p-table>
